<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Cart reporting</title>
    <style>
        td {
            width: 150px;
            text-align: center;
        }
    </style>
</head>
<body>

<h1>Cart reporting</h1>
<h2 th:utext="${title}"></h2>

<br/><br/>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Total price, €</th>
        <th>is checked out</th>
        <th>checked date</th>
    </tr>


    <tr th:each="cart : ${carts}">

        <td>
            <a th:href="${'/showCart/' +cart.id}"><b th:text="${cart.id}">...</b></a>
        </td>
        <td style="text-align: right;">
            <a th:href="${'/showCart/' +cart.id}"> <b
                    th:text="${#numbers.formatDecimal(cart.total, 0, 'COMMA', 2, 'POINT')}">...</b></a>
        </td>

        <td th:utext="${cart.checkedOut}">...</td>

        <td th:text="${cart.checkedDate} ? ${#temporals.format(cart.checkedDate, 'dd-MM-yyyy HH:mm')}">...</td>
    </tr>
</table>

<br/>
<br/>
<a href="/ui">zurück</a>

</body>
</html>