<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cart reporting. List of all products</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        tr {
            height: 30px;
        }
    </style>
</head>
<body>

<h1>Cart reporting. List of all available products</h1>
<br/>

<table border="1">
    <thead>
    <tr>
        <th> Id</th>
        <th> Name</th>
        <th> SKU</th>
        <th> Price, €</th>
        <th> available quantity </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="depot, rowStat: ${depots}"
        th:style="${rowStat.odd} ? 'color: gray' : 'color: blue;'">
        <td th:text="${depot.id}"></td>

        <td style="text-align: center; width: 100px;">
            <a th:href="${'/showProduct/' +depot.product.id}"><b th:text="${depot.product.name}">...</b></a>
        </td>

        <td  style="text-align: center; width: 100px;">
            <a th:href="${'/showProduct/' +depot.product.id}"><b th:text="${depot.product.sku}">...</b></a>
        </td>

        <td th:utext="${#numbers.formatDecimal(depot.product.price, 0, 'COMMA', 2, 'POINT')}" style="text-align: right; width: 100px;">...
        </td>

        <td th:text="${depot.quantity}" style="text-align: right;"></td>
    </tr>
    </tbody>
</table>
<br/>
<br/>
<a href="/ui">zurück</a>

</body>
</html>